<div class="itc-slider slider">
    <div class="itc-slider__wrapper">
        <div class="itc-slider__items">
            <img src="/Views/Shared/Pictures/london.jpg" class="itc-slider__item" />
            <img src="/Views/Shared/Pictures/ny.jpg" class="itc-slider__item" />
            <img src="/Views/Shared/Pictures/spb.jpg" class="itc-slider__item" />
        </div>
    </div>
    <!-- Кнопки для перехода к предыдущему и следующему слайду -->
    <button class="itc-slider__btn itc-slider__btn_prev"></button>
    <button class="itc-slider__btn itc-slider__btn_next"></button>
</div>